{
  "plugins": [
    "transform-async-to-generator",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    "lodash",
    "transform-object-rest-spread"
  ],
  "presets": ["es2015","react-native"]
}
